---
---

//reset

a {
    text-decoration: none;
}

// layout
$body-width: 75vw;

$mobile: 480px;
$tablet: 768px;

//typography
$heading-family: 'Lobster', sans-serif;

// colours!
$yellow: #d6ff00;
$blue: #2c7fd1;
$dark-blue: #1a4c7d;

body {
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(15deg, $yellow, $blue);
}

aside {
    width: 25vw;
    margin: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    section {
        width: 100%;
    }
}

article {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#content {
    max-width: 60vw;
}

#home-link {
    display: block;

    font-size: 3em;
    font-family: $heading-family;

    color: white;
    text-shadow: 0px 0px 1px white;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white;
    margin-left: 10px;
    margin-right: 10px;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 2px #676767;
}

p {
    color: #404040;
    padding: 5px 20px 20px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-image {
    border-radius: 50%;
    border: 5px solid white;
    width: 12vw;

    box-shadow: 0px 3px 2px #676767;

    transition: all 500ms ease-in;
}

.active {
}

.inactive {
    filter: grayscale(100%) brightness(80%);
    -webkit-filter: grayscale(100%) brightness(80%);

    &:hover {
        filter: grayscale(100%) brightness(100%);
        -webkit-filter: grayscale(100%) brightness(100%);
    }
}

#yawirra {
    display: none;
}
