<html>
    {% include head.html %}
    <body>
        <aside>
            <a id="home-link">Yawirra</a>
            <p id="author-link">A project by <a href="https://cadelwatson.com">Cadel Watson</a></p>
            <section>
                {% include automenu url='/' sort="url" reverse=false all=false %}
            </section>
        </aside>

        <article>
            <section id="content">
                {{ page.title }}
                {{ content }}
            </section>
        </article>
    </body>

</html>

