<html>
    {% include head.html %}
    <body>
        <aside>
            <a id="home-link">Yawirra</a>
            <p id="author-link">A project by <a href="https://cadelwatson.com">Cadel Watson</a></p>
            <section>
                {% include automenu url='/' sort="name" reverse=false all=false %}
            </section>
        </aside>

        <article>
            <section id="content">
                <div class="markdown">
                    <h1 class="title">{{ page.title }}</h1>
                    {{ content }}
                    {% include footer.html %}
                </div>
            </section>
        </article>
    </body>

</html>

