<html>
  {% include head.html map=page.map %}

    <body>
        <aside>
            <a id="home-link">Yawirra</a>
            <p id="author-link">A project by <a href="https://cadelwatson.com">Cadel Watson</a></p>
            <section>
                {% include automenu url='/' sort="name" reverse=false all=false %}
            </section>
        </aside>

        <article>
            <section id="content">
                <div class="markdown">
                    <h1 class="title">{{ page.title }}</h1>
                    {{ content }}
                    {% include footer.html %}
                </div>
            </section>
        </article>

        {% if page.map %}
        <script type="text/javascript">
         var map = L.map('map').setView([{{ page.location}}], 13);

         L.tileLayer('https://api.mapbox.com/styles/v1/kdelwat/ciyc6jofp00172sp5roawjb2k/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia2RlbHdhdCIsImEiOiJjaXljNDBuN2EwMGR6MnBwOWJqNnI4dWE0In0.tawTTiv3rP4QhysIqdwDmw',
           {maxZoom: 17, minZoom: 13}).addTo(map);
        </script>
        {% endif %}
    </body>

</html>

